.card {
   height: 400px;
   background-color: black;
   color: #fff;
   margin-bottom: 20px;
}

.img {
   height: 50%;
   width: 100%;
   background-color: red;
}

.card h3, 
.card p {
   text-align: center;
}